{% extends 'global/base.html' %}

{% block title %} Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>Dashboard ({{ user }})</h2>

        {% include 'authors/partials/login_message.html' %}
        {% include 'global/partials/messages.html' %}

        <div class="authors-dashboard-container">
            <h3>Your sneakers</h3>

            <ul>
               {% for sneaker in sneakers %}
               <li>
                <a href="{% url 'authors:dashboard_sneaker_edit' sneaker.id %}">{{ sneaker.title }}</a>
                <form
                class="inline-form form-delete"
                action="{% url 'authors:dashboard_sneaker_delete' %}"
                method='POST'
                >
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ sneaker.id }}">
                   - <button class="plaintext-button" type="submit"> Delete</button>
                </form>
               </li>
               {% empty %}
                <li>
                    <p>You do not have any sneakers, please create one.</p>
                </li>
               {% endfor %} 
            </ul>

        </div>
    </div>

{% endblock content %}